h1{
    color:blue;
    text-align:center;
}

p{
    color:red;
}

#top {
    background-color: teal;
    width: 400px;
    height: 100px;
    font-size: 30px;
  }

#bottom {
    background-color: purple;
    width: 600px;
    height: 100px;
    font-size: 30px;
  }

.name {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

.test {
    font-weight: bold;
    font-size: 60px;
    font-style: italic;
}